.sensores {
	padding-bottom: 2%;
	padding-top: 4%;
	margin: auto;
	width: fit-content;
}

.coberturas {
	padding-top: 8%;
	margin: auto;
	width: 80%;
	min-width: fit-content;
}

.main {
	text-align: center;
}

.slidercontainer {
	padding-left: 16px;
	padding-right: 16px;
}

.slider {
	width: 100%;
}