.checkbox {
	padding-top: 2%;
}

.sensores {
	margin: auto;
	width: fit-content;
}

.main {
	text-align: center;
}

.slidercontainer {
	padding-left: 16px;
	padding-right: 16px;
}

.slider {
	width: 100%;
}